/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

::-moz-selection {
  background: #F0A4A7;
}

::selection {
  background: #F0A4A7;
}

html, body {
  background: #cfc4c3;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  html, body {
    font-size: 12px;
  }
}

.top {
  font-size: 1rem;
  padding: 8vh 1.25em 3.75em;
  background: #f9f8f2;
}
.top__logo {
  margin-bottom: 3.75em;
}
.top__github {
  font-size: 1.125rem;
  margin-bottom: 2.7777777778em;
}
.top__btns {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 62.5em;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .top__btns {
    flex-flow: column;
  }
}
.top__btn {
  font-size: 1.125em;
  margin: 0.2777777778em;
  cursor: pointer;
}

.logo {
  color: #2d2f32;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .logo {
    font-size: 0.85rem;
  }
}
.logo__img {
  width: 10em;
  margin-bottom: 0.625em;
}
.logo__title {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25em;
}
.logo__txt1 {
  font-size: 4.5em;
  font-weight: bold;
}
.logo__txt2 {
  font-size: 3em;
  letter-spacing: 0.275em;
  margin-left: -1.4583333333em;
  margin-top: 1.6666666667em;
}
.logo__desc {
  color: #707271;
  font-size: 1.5em;
  letter-spacing: 0.06em;
}

.full-btn {
  text-decoration: none;
  color: #aa999d;
  background: #5a4545;
  padding: 0.75em 1.75em;
  border-radius: 1.25em/50%;
  display: inline-block;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  transition: background 0.2s;
}
.full-btn__bold {
  font-weight: bold;
  color: white;
}
.full-btn:hover {
  background: #433333;
  transition-duration: 0.4s;
}

.gh-btn {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #574142;
  background: transparent;
  color: #604b4c;
  padding: 0.875em 0.75em;
  outline: none;
  transition: background 0.2s;
}
.gh-btn:hover {
  background: #e3d8b9;
  transition-duration: 0.4s;
  text-decoration: underline;
}
.gh-btn__bold {
  font-weight: bold;
}
.gh-btn__param {
  color: #0d9b8c;
}

.bottom {
  text-align: center;
  color: #7e696d;
  font-size: 1rem;
  padding: 2.5em 1.25em;
}
.bottom__txt {
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1.125em;
  margin-bottom: 3.125em;
}
.bottom__license {
  font-size: 1.125em;
}
.bottom__author {
  font-size: 1.125em;
  font-family: "Josefin Sans", sans-serif;
  color: #68565a;
}